td {
  text-align: center; 
}

.currencies, .requisites {
  width: max-content;
  margin: 0 auto 10px;
  text-align: left;
}

.display-price {
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.showButton {
  margin: 0 0 10px;
}

.requisites {
  color: gray;
}